*.suo
*.csproj.user
*.sqlproj.user
*.dtproj.user
*.pubxml.user
*.wixproj.user
*.dbmdl
bin
obj
pkg
pkgobj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
*.DotSettings.user
pkgobj
pkg
*.wsp
*.log
*.log*
*.DotSettings
*.userprefs
*.nupkg
*.swp
*.exe
StyleCop.Cache
packages/*
!packages/repositories.config
**/node_modules/*
**/Logs/*
!**/Videa.Messages/Logs/*
.vs/*
**.iml
**.iml.sln
**.idea
